.control {
  font-weight: 500;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-xs);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
}

.control:not(.active):hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.link {
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-sm);
}

.link:not(.active):hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.active {
  background-color: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-7);
  font-weight: 600;
  border-radius: 6px;
}

.chevron {
  transition: transform 200ms ease;
}
