.studentResults {


    .student_card {
        position: relative;
        cursor: pointer;

        &:hover {
            .student_overlay {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .student_overlay {
        opacity: 0;
        transform: scale(0.95);
        transition: opacity .3s ease, transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}